<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='hue_control.css') }}">
    <title>Hue Control</title>
</head>
<body>
    <!-- <p>Hello</p> -->
    <script>
        function sendPostRequest(event, light_name) {
            var isChecked = event.target.checked;
            const url = '/API/hue/' + light_name;
            const data = { 'on': { 'on': isChecked } };
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error(error));
        }
        function getLightStates() {
            const url = '/API/hue/light-states';
            fetch(url, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
            })
                .then(response => response.json())
                .then(data => {
                    for (const light_id in data) {
                        light_switch = document.getElementById(light_id)
                        light_switch.checked = data[light_id];
                    }
                })
                .catch(error => console.error(error));
        }
        getLightStates()
        setInterval(getLightStates, 10000);
    </script>
    <!-- <button onclick="sendPostRequest()">Click me</button> -->
    <br>
    <span class="label">Light 1</span>
    <label class="switch">
        <input id='light1' type="checkbox" onclick="sendPostRequest(event, 'light1')">
        <span class="slider"></span>
    </label>
    <br>
    <span class="label">Light 2</span>
    <label class="switch">
        <input id='light2' type="checkbox" onclick="sendPostRequest(event, 'light2')">
        <span class="slider"></span>
    </label>
    <br>
    <span class="label">Light 3</span>
    <label class="switch">
        <input id='light3' type="checkbox" onclick="sendPostRequest(event, 'light3')">
        <span class="slider"></span>
    </label>

</body>
</html>