<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Minecraft</title>
    <script src="{{ url_for('static', filename='javascript_modules.js') }}"></script>
</head>
<body style="background-image: url({{url_for('static', filename='Big_Ls_Clubhouse.png')}});">
    <header>
        <h1 style="color: skyblue; text-align: center; width: 100%; margin: 0px;">Big L's Clubhouse</h1>
    </header>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/minecraft">Minecraft</a></li>
        <li><a href="/lepotato-display">LePotato Live</a></li>
        <li><a href="/talk_to_me">Talk To me</a></li>
    </ul>
    <div style="max-width:1500px" id="home">
        <img src="{{ url_for('static', filename='Big_Ls_Clubhouse.png') }}" alt="Me" width="1500" height="600">
        <div style="background-color: rgba(255,255,255,.5);">
            <h1 style="color:black">MC server is: mc.BigLsClubhouse.com</h1>
            <h1 id="mc_server_status" style="font-size:20px;color:black;"></h1>
        </div>
    </div>
    <script>get_mc_server_status()</script>
</body>
</html>