<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>



<body style="background-image: url({{url_for('static', filename='Big_Ls_Clubhouse.png')}});">
    <header>
        <h1 style="color: skyblue; text-align: center; width: 100%; margin: 0px;">Big L's Clubhouse</h1>
    </header>
    <ul>
        <li><a href="default.asp">Home</a></li>
        <li><a href="news.asp">News</a></li>
        <li><a href="contact.asp">Contact</a></li>
        <li><a href="about.asp">About</a></li>
    </ul>
    <div class="main-container">
        
    </div>
    </header>

    <video controls>
        <source src="{{url_for('static', filename='New Youtube CEO is Scary.mp4')}}">
    </video>

</body>

</html>